<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-nRHQ2FoY3m8c4kUq2Ccb3sNQToqWMWA</string>
	<key>GCM_SENDER_ID</key>
	<string>552003099984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsup</string>
	<key>PROJECT_ID</key>
	<string>whatsup-vkashyap</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsup-vkashyap.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552003099984:ios:43c4feb6370c9981dfe055</string>
</dict>
</plist>